/* MAIN CSS */

:root {
    /* COLORS */
    --blu: rgb(23, 27, 96);
    --blu_trasp: rgba(23, 27, 96, 0.5);
    --viola: #933C91;
    --nero: #000;
    --bianco: #fff;
    --boxes0: rgb(162, 164, 190);
    --boxes1: rgb(207, 180, 209);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    color: var(--viola);
}

h1 {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: bold;

    color: var(--bianco);
}

h2 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: normal;

    text-align: center;
}

h3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: bold;
}

h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
}

h5 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: lighter;
}

button {
    font-size: 1rem;
}

a, a:hover, a:active, a:visited, a:focus {
    color: var(--bianco);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    h1 {
        text-transform: capitalize;
        font-size: 48pt;
        font-weight: bold;
    }

    h2 {
        text-transform: capitalize;
        font-size: 36pt;
        font-weight: normal;
    }

    h3 {
        text-transform: capitalize;
        font-size: 24pt;
        font-weight: bold;
    }

    h4 {
        text-transform: capitalize;
        font-size: 21pt;
        font-weight: bold;
    }

    h5 {
        text-transform: capitalize;
        font-size: 16pt;
        font-weight: bold;
    }

    p {
        font-size: 12pt;
        line-height: 21pt;
        font-weight: lighter;
    }

    button {
        font-size: 12pt;
    }

}

header {
    background-color: var(--blu_trasp);

    position: fixed;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

header > img {
    margin: 1em;
    width: 8em;
}

nav {
    background-color: var(--blu_trasp);

    position: absolute;
    top: 5rem;
    width: 10em;
    margin-left: 100%;
    z-index: 9;

    transform: translateX(0);
    transition: transform 0.25s ease-out;
}

nav > a {
    font-size: 1.2em;

    text-align: right;
    text-transform: capitalize;

    color: var(--bianco);
    display: block;
    margin: 1em;
}

@media only screen and (min-width: 768px) {
    nav {
        background-color: rgba(0, 0, 0, 0);

        width: 50%;
        margin-left: 50%;
        padding-top: 2em;
        top: 0;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;

        transform: translateX(0%);
    }

    nav > a {
        font-size: 1em;
        margin: 1em;
    }
}

#menu-button {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#menu-button > div:nth-child(1) > div {
    width: 0.4em;
    height: 0.4em;
    background-color: var(--bianco);
    margin: 0.4em 0.2em;
    border-radius: 1em;
}

#menu-button > div:nth-child(2) > div {
    width: 2.4em;
    height: 0.4em;
    background-color: var(--bianco);
    margin: 0.4em 0.2em;
    border-radius: 1em;

    transition: width 0.25s ease-out;
}

@media only screen and (min-width: 768px) {
    #menu-button {
        display: none;
    }
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/banner-home.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--bianco);

    text-align: center;
}

.banner > img {
    width: 50%;
    margin-top: 25%;
    margin-bottom: 5%;
}

.banner > h1 {
    width: 100%;
    margin: 0;
    padding: 25% 0 10% 0;
}

@media only screen and (min-width: 768px) {
    .banner > img {
        width: 50%;
        margin-top: 15%;
        margin-bottom: 5%;
    }
    
    .banner > h1 {
        width: 100%;
        margin: 0;
        padding: 15%;
    }
}

#banner-therapeutic {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/banner-therapeutic.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--bianco);

    text-align: center;
}

#banner-about-us {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./images/banner-about-us.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--bianco);

    text-align: center;    
}

#intro {
    text-align: justify;

    /* margin: 1em; */
    width: 80%;
    margin: 2em 10%;
}

#intro > h1 {
    text-transform: capitalize;

    color: var(--viola);
}

#intro > button {
    text-transform: capitalize;

    border: 2px solid var(--viola);
    background-color: transparent;
    color: var(--viola);

    padding: 1em;
}

@media only screen and (min-width: 768px) {
    #intro {
        width: 70%;

        margin: 1em 15%;
    }

    #intro::before {
        content:"";
        display: block;
        width: 30%;
        margin: 5em 35%;
        border-bottom: 1px solid var(--nero);
    }

    #intro::after {
        content:"";
        display: block;
        width: 30%;
        margin: 5em 35%;
        border-bottom: 1px solid var(--nero);
    }
}

.services {
    margin: 2em 10%;
}

.services > div {
    text-align: center;
}

.services > div > img {
    width: calc(5em + 10vw);
    margin: 2em auto 0em auto;
}

@media only screen and (min-width: 768px) {
    .services {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: baseline;

        margin: 0;
    }

    .services > div {
        flex-basis: 20%;
    }

    .services > div > img {
        width: calc(4vw + 4em);
        float: inherit;
        margin: 0;
    }
}

#services-boxes > div {
    text-align: justify;

    color: var(--bianco);

    padding: 2em;
    padding-top: 1em;
    margin: 4em 10%;
    width: 80%;
}

#services-boxes >div:nth-child(2n+1) {
    background-color: var(--boxes0);
}

#services-boxes >div:nth-child(2n) {
    background-color: var(--boxes1);
}

#claire {
    position: relative;
    text-align: center;
    color: var(--bianco);

    margin-top: 4em;
}

#claire-text {
    height: 100%;
    background-image: linear-gradient(var(--blu_trasp),var(--blu_trasp)), url("./images/pict-claire.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2em;
}

#claire-text > h2 {
    color: var(--bianco);
}

#claire-text > p > em:after {
    content:"";
    display: block;
    width: 50%;
    margin: 1em 25%;
    border-bottom: 1px solid var(--bianco);
}

#claire-text > button {
    text-transform: capitalize;

    background-color: transparent;
    border-color: var(--bianco);
    border-radius: 2em;
    color: var(--bianco);

    padding: 1em;
}

#claire-blurb {
    background: var(--blu_trasp);

    padding: 2em;

    text-align: justify;
}

#claire-blurb > img {
    width: 80%;
    margin: 1em 10% 2em 10%;
}

#claire-blurb > h2 {
    color: var(--bianco);
    text-align: center;
}

#claire-blurb > p {
    width: 80%;
    margin: 2em 10%;
}

#claire-blurb > p > em {
    font-size: 1.4em;
}

@media only screen and (min-width: 768px) {
    #claire {
        position: relative;
        text-align: center;
        color: var(--bianco);

        height: 50em;
        max-width: 100%;
    }

    #claire-image {
        height: 100%;
        background-image: url("./images/pict-claire.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #claire-text {
        background: var(--blu_trasp);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);

        padding: 1em;
        height: 100%;
    }
}

#team {
    margin: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#team > h2 {
    margin: 1em 30%;
}

#team > p {
    width: 80%;
    margin-bottom: 3em;
}

#team > div > img {
    border-radius: 50%;
    width: 100%;
}

#team > div {
    /* background-color: rgba(225, 225, 225, 1.0); */
    width: 40%;
    margin: 5%;
}

#team > div > div > h5 {
    text-align: center;
    margin: 1em;
}

#team > div > div > p {
    text-align: center;
}

#team > button {
    text-transform: capitalize;

    border: 2px solid var(--viola);
    border-radius: 2em;
    background-color: transparent;
    color: var(--viola);

    padding: 1em;
    margin: 1em;
}

#team > button > a {
    color: var(--viola);
}

#team-page {

}

#team-page > img {
    width: 50%;
    margin: 0 25%;

    border-radius: 50%;
}

#team-page:before {
    content:"";
    display: block;
    width: 20%;
    margin: 4em 40%;
    border-bottom: 2px solid var(--viola);
}

#team-page > h3 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
}

#team-page > h5 {
    text-align: center;
    color: dimgray;
    font-weight: normal;
    margin-top: 0;
}

#team-page > p {
    width: 80%;
    margin: 4em 10%;
}

@media only screen and (min-width: 768px) {

    #team-page > img {
        width: 24em;
        margin: 0 calc(50% - 12em);
    
        border-radius: 50%;
    }

    #team-page > p {
        width: 60%;
        margin: 4em 20%;
    }
}

@media only screen and (min-width: 768px) {
    #team > div {
        width: 20%;
        margin: 2.5%;
    }
}

form {
    margin: 4em 2em 0 2em;
}

form > input[type=text] {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--bianco);

    padding: 1em;
    margin: 1em 0;
    border: none;

    width: 100%;
}

form > input[type=text]::placeholder {
    color: var(--bianco);
    opacity: 0.9;
}

form > textarea {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--bianco);

    padding: 1em;
    margin: 1em 0;
    border: none;

    width: 100%;
    height: 20em;
    resize: none;
}

form > textarea::placeholder {
    color: var(--bianco);
    opacity: 0.9;
}

form > button {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--bianco);

    padding: 1em;
    margin: 1em 0;
    border: 2px solid var(--bianco);

    border-radius: 4em;

    font-size: 12pt;

    text-transform: capitalize;
}

#form {
    background: linear-gradient(rgba(23, 27, 96, 0.75),rgba(23, 27, 96, 0.75)), url("./images/banner-contact-us.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--bianco);

    margin-top: 4em;
    padding-top: 2em;
    text-align: center;
}

#form > div > h2 {
    text-transform: capitalize;
    color: var(--bianco);
}

#form > div > p {
    margin: 0;
}

.line {
    content:"";
    display: block;
    width: 50%;
    margin: 2em 25%;
    border-bottom: 1px solid var(--bianco);
}

@media only screen and (min-width: 768px) {
    #form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    #form > * {
        width: 50%;
    }

}

footer {
    background-color: var(--nero);
    color: var(--bianco);

    padding: 1em;
}

footer > span {
    text-transform: capitalize;
    margin: 0.2em;
}
